$lightGray2: #757575;

.loginWrapper {
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid #c7c8c9;
  border-radius: 4px;
  padding: 30px;
  margin: auto;
  margin-top: 20%;
  background-color: #ffffff;
}

.link {
  text-decoration: none;
  text-align: right;
  font-size: 13px;
  margin-right: 6px;
  padding-bottom: 15px;
  color: $lightGray2;
  :visited {
    color: $lightGray2;
  }
}
.link:hover {
  color: #212529;
}

.btn {
  width: 100px;
}

.errorMsg {
  text-align: center;
  color: red;
}

.copyrightText {
  color: #ffffff;
  margin-bottom: 10px;
}
