{
  "extends": ["eslint-config-prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "rules": {
    "comma-dangle": [0, "never"],
    "no-unused-vars": [1],
    "max-len": [1, 180, 4],
    "key-spacing": [2, { "mode": "minimum" }],
    "arrow-spacing": [1],
    "prefer-template": [1],
    "prefer-const": [1],
    "arrow-body-style": [0],
    "no-console": [1],
    "no-else-return": [0],
    "no-extra-semi": [1],
    "object-shorthand": [1, "properties"],
    "semi": [1],
    "no-trailing-spaces": [1, { "skipBlankLines": true }],
    "object-curly-spacing": [0],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/prop-types": [0],
    "react/jsx-closing-bracket-location": [0],
    "react/react-in-jsx-scope" : [0],
    "object-curly-newline" : [0],
    "react/jsx-filename-extension" : [0],
    "react/jsx-props-no-spreading" : [0],
    "react/no-array-index-key" : [0],
    "import/prefer-default-export" : [0],
    "implicit-arrow-linebreak" : [0],
    "no-unneeded-ternary" : [0],
    "operator-linebreak" : [0],
    "react/jsx-boolean-value": [0],
    "no-restricted-syntax" : [0],
    "prefer-arrow-callback" :[0],
    "no-param-reassign" : [0],
    "guard-for-in" : [0],
    "jsx-a11y/label-has-associated-control" : [0],
    "react/no-unknown-property" : [0],
    "operator-assignment" : [0],
    "no-await-in-loop" : [0],
    "jsx-a11y/click-events-have-key-events" : [0],
    "no-underscore-dangle" : [0],
    "max-classes-per-file" : [0],
    "camelcase" : [0],
    "func-names" : [0],
    "no-extra-boolean-cast" : [0],
    "import/no-cycle" : [0],
    "no-shadow": [0],
    "indent" : [0],
    "no-lonely-if": [0],
    "nonblock-statement-body-position": [0],
    "no-plusplus":[0],
    "react/jsx-curly-brace-presence" : [0],
    "react/self-closing-comp" : [0],
    "react/jsx-one-expression-per-line"  : [0],
    "jsx-a11y/no-static-element-interactions" : [0],
    "function-paren-newline" : [0],
    "react/jsx-curly-newline" : [0],
    "jsnext:main" : [0],
  }
}

