.pdfPreviewWrapper {
  overflow-y: auto;
  overflow-x: hidden;
}

.pdfDocument {
  height: 400px;
}

.pdfPage {
  text-align: -webkit-center;
}

.navBtnWrapper {
  text-align: center;
  position: relative;
  height: 50px;
  bottom: 50px;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: auto;
  width: fit-content;
}
